# Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="genereer-met-openssl-rand-base64-32"

# Admin account (wordt aangemaakt bij seed)
ADMIN_EMAIL="admin@trobuso.nl"
ADMIN_PASSWORD="wijzig-dit-wachtwoord"
